doctype html
html(lang="en")
	head
		title= title
		link(rel='stylesheet', href='stylesheets/style.css')
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
		script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js", integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")
		script(src='/socket.io/socket.io.js')
		script(src='//code.jquery.com/jquery-1.11.1.js')
		script(src='javascripts/chat.js' defer)
	body
		center
			#userList
				ul#listArea
			#chat
				#infoButton
					button.btn.btn-info(type='button') Skim2 채팅방
				#chatArea
					textarea#chatLog.form-control(readonly='')
				form#chatForm
					input#name.form-contorl(type='text')
					input#message.form-contorl(type='text')
					button#submitBtn.btn.btn-primary(type='submit') 전송
