extends layout

block content
	h1= title
	p
		font(color='DodgerBlue') username | 님 환영합니다
	#game
		#bingo
			table.bingo-board
				- for(var x = 0; x < 5; x++)
					tr
						td
						td
						td
						td
						td
			#user
				#list
				#logs
				input#start_button(type='button', value='시작')
				input#username(type='hidden', value=username)
