doctype html
html
	head
		title=title
		link(rel="stylesheet", href="/stylesheets/style.css")
		script(src='/socket.io/socket.io.js')
		script(src='//code.jquery.com/jquery-1.11.0.min.js')
		srcipt(src='javascripts/main.js')
	body
		center
			block content
